body {
  background-image: url(video.mp4);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  border-color: none;
  padding: 40px 20px 20px;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 90%;
  margin: 90px;
}

#show-city {
  margin-right: 20px;
  text-align: right;
}

input[type="text"],
input[type="submit"],
input[type="button"] {
  background-color: #00ffff4d;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-size: large;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   
}
::placeholder { 
  color: rgb(0, 0, 0);
  opacity: 1; }

.city .card {
  background: rgba(255, 255, 255, 0);
  border: none;
  margin: 10px 0px;
  margin-right: 0px;
  border-color: none;
  float: right;
  border-radius: 5%;
  text-align: right;
}
.card-title,
.emoji {
  font-size: 50px;
  font-weight: 600;
}

.card-text {
  font-size: 38px;
}
.temperature {
  font-size: 45px;
}
.degrees {
  font-size: 22px;
  float: right;
}
.row {
  margin-top: 20em;
}

.row .card {
  background: linear-gradient(180deg, #00ffff4d, #696a6acc);
  border-color: none;
  border-width: 0px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.text {
  text-align: center;
}
footer,
#github-code-link {
  color: #000000;
  margin-left: 220px;
  font-size: medium;
}
