body {
  background-image: url(video.mp4);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  background: linear-gradient(180deg, #769fdc, #00ffff4d);
  border-color: none;
  padding: 30px 30px 30px 30px;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 90%;
  margin-top: 100px;
  height: 40em;
}

#main-card {
  margin-left: 20px;
  line-height:70px;
  box-shadow: none;
  float: left;
}

#card-title,
.emoji {
  font-size: 50px;
  font-weight: 600;
   }

  .emoji {
    margin-top: 10px;
  }

.card-text {
  font-size: 30px;
}
.temperature {
  font-size: 45px;
  margin-left: 30px;
}
.degrees {
  font-size: 22px;
  float: right;
}


.weather-descriptions {
   margin-top: 35px;
  font-size: 20px;
  background: rgba(245, 242, 242, 0);
  border: none;
   font-size: large;
  font-weight: 600;
  line-height:40px;
 
    }
  
  #humidity, #wind
  {
    padding: 0;
  }

input[type="text"],
input[type="submit"],
input[type="button"]
 {
  background: rgba(245, 242, 242, 0);
  border: none;
  padding: 5px 10px;
  font-size: large;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
   }

   input[type="submit"]{
    margin-left: 6px;
   }

::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
   }

#currant-date {
  display: inline;
  font-size: 25px;
  font-weight: 700;
  padding: 0;
}

.row .card {
  background: transparent;
  border-color: none;
  border-width: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  }

#cards {
  margin-top: 100px;
}

footer,
#github-code-link {
  color: #000000;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 500;
}
#github-code-link {
  text-decoration-line: underline;
}
